/******************************************************************************
masonry grid transformation animation mixin
*******************************************************************************/
@mixin grid-transition() {
   -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
      -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
       -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
        -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
           transition: left .4s ease-in-out, top .4s ease-in-out .4s;
}